suites:
    message_suite:
        namespace: Http\Message
        psr4_prefix: Http\Message
formatter.name: pretty
extensions:
    - Coduo\PhpSpec\DataProvider\DataProviderExtension
    - Akeneo\SkipExampleExtension
