includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/src/MessageFactory/*
            - %currentWorkingDirectory%/src/StreamFactory/*
            - %currentWorkingDirectory%/src/UriFactory/*
